body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.header
{
    float: right;

}

.header a, .header button
{
    margin: 10px;
    color: #000;
    text-decoration: none;
}

.header button
{
    background: #4484f1;
    padding: 8px;
    font-size: 15px;
    color: #fff;
    border-radius: 10%;
    font-weight: bold;
}

.img-logo
{
    text-align: center;
    margin: 50px;



}

.input input
{
    height: 40px;
    width: 444px;
    margin: 10px;
    border-radius: 5%;

}

.main1{

    margin: 400px;
    text-align: center;
}

.cen{
    text-align: center;
}

.footer-right
{
    text-align: right;
}

.footer
{
    text-align: justify;
    
    padding: 50px;
}